.navbar-logo {
  width: 10rem;
}

@media (min-width: 992px) {
  .navbar-logo {
    width: 12rem;
  }
}

.subtitle {
  color: #ec028d;
}

@media (min-width: 768px) {
  .page-footer ul li.footer-socialmedia:before, .page-footer ul li.footer-socialmedia:after {
    display: none;
  }
}

.clean-navbar .navbar-nav .nav-item {
  padding-right: 0;
}

@media (min-width: 992px) {
  .clean-navbar .navbar-nav .nav-item {
    padding-right: 2rem;
  }
}

hr {
  margin: 1rem 0;
  color: #ffffff;
  border: 0;
  border-top: 1px solid;
  opacity: 1;
}

.category-detail {
  padding-top: 2rem;
}

@media (min-width: 992px) {
  .category-detail {
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .timeline-detail {
    padding-top: 0;
  }
}

.timeline-detail {
  padding-top: 0;
}

