:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #ec028d;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #3b99e0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 23, 16, 38;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 59, 153, 224;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Montserrat", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #e62243;
  --bs-link-hover-color: #006699;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

.btn-primary {
  background-image: linear-gradient(to right, #e62243 0%, #c1267d 51%, #e62243 100%);
  background-size: 200% auto;
  transition: 0.5s;
  --bs-btn-color: #fff;
  --bs-btn-bg: none;
  --bs-btn-border-color: #c1267d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: #161026;
  --bs-btn-focus-shadow-rgb: #161026;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: #161026;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.btn-primary:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  background-position: right center;
}

.btn-outline-primary:hover {
  background: var(--bs-btn-hover-bg);
}

.btn-outline-primary {
  transition: 0.5s;
  --bs-btn-color: #ec028d;
  --bs-btn-border-color: #c1267d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: linear-gradient(to right, #e62243 0%, #c1267d 100%);
  --bs-btn-hover-border-color: #c1267d;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c1267d;
  --bs-btn-active-border-color: #c1267d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #c1267d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #c1267d;
  --bs-gradient: none;
}


.bg-video-mobile {
  display : block;
}

.bg-video-web {
  display : none;
}

@media (min-width: 992px) {
.bg-video-web {
  display : block;
}
.bg-video-mobile {
  display : none;
}
.w-100-50 {
  width : 50%!important;
}
}
